[submodule "external/dearimgui"]
	path = external/dearimgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "external/ImGuiFileDialog"]
	path = external/ImGuiFileDialog
	url = https://github.com/aiekick/ImGuiFileDialog.git
[submodule "external/ImGuiColorTextEdit"]
	path = external/ImGuiColorTextEdit
	url = https://github.com/BalazsJako/ImGuiColorTextEdit.git
[submodule "external/ImHex"]
	path = external/ImHex
	url = https://github.com/WerWolv/ImHex
[submodule "external/imgui_club"]
	path = external/imgui_club
	url = https://github.com/ocornut/imgui_club.git
